<footer class="blog-footer ">
  <div class="d-flex flex-sm-column flex-md-row container">
    <div class="flex-fill text-left">
      ALL ABOUT WEB
    </div>
    <div class="flex-fill">
      <a href="#">Back to top</a>
    </div>
    <div class="flex-fill">
      Get the latest updates on email
      <div class="input-group mt-1 input-email">
        <input type="text" class="form-control" placeholder="Your email address" aria-label="Email address" aria-describedby="button-addon2">
        
          <button class="btn btn-outline-secondary ml-1" type="button" id="button-addon2">
             <!-- <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> -->
            </button>
            
      </div>
      
    </div>
  </div> 
</footer>